#container {
    display: flex;
    flex-wrap: wrap;
}

.square {
    border: 1px solid black;
    flex: 1 0 6%;
    margin: 0px;
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
}

.hovered {
    background-color: black;
}

#btnSquaresQty {
    margin: 5px;
}